.app {
}

.filter {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    background-color: #E8E8E8;
    padding: 1em;
    z-index: 1;
}

.filter div {
    margin-right: 2em;
}

.filter .fulltext {
    width: 200px;
    padding: 0.2em;
}

.logs {
    margin-top: 54px;
}

.log {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E8E8E8;
    padding: 0.5em 1em;
}

.log.long-ago{
    border-top: 4px solid lightgrey;
}

.log.long-ago::before {
    content: '> 5s ago';
    font-size: 10px;
    text-align: center;
}

/*.log.long-ago::before {*/
/*    border-top: 1px solid grey;*/
/*}*/

.log-row {
    display: flex;
    flex-direction: row;

}

.log-row .date{
    font-weight: 500;
}

.log-row .item{
    margin-left: 1em;
}

.log-body {
    padding: 0.5em;
    background-color: whitesmoke;
}

.log-body-plain {
    font-size: 12px;
}
