.app {
}

.filter {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #E8E8E8;
    padding: 1em;
    z-index: 1;
}

.filter div {
    margin-right: 2em;
}

.filter .fulltext {
    width: 200px;
    padding: 0.2em;
}

.log {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E8E8E8;
    padding: 0.5em 1em;
}

.log-row {
    display: flex;
    flex-direction: row;

}

.log-row .date{
    font-size: 14px;
    font-weight: 600;
}

.log-row .item{
    margin-left: 1em;
}

.log-body {
    padding: 0.5em;
    background-color: whitesmoke;
}

.log-body-plain {
    font-size: 12px;
}
